* {

}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    border: 2px solid;
    border-color: blue;
    min-height: 100vh;
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid;
    border-color: red;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: yellow;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 50vw;
    height: 25vh;
    border-color: green;
}

button {
    align-items: flex-end;
}

.timer {

}
.start-button {

}

.card {
    display: flex;
    flex-wrap: wrap;
    min-height: 12vh;
    min-width: 20vw;
    justify-content: center;
    border: 2px solid;
    border-color: purple
}

.modal {
    display: none;
    position:fixed;
    border: 2px solid;
    border-color: aqua;
    background-color: black;
    z-index: 1;
    color: white;
    min-height: 75%;
    min-width: 75%;
    justify-content: center;
}

.options {
    display: none;
}

.hs-banner {
    white-space: pre;
}

.high-scores {

}

.hide {
    display: none;
  }