* {
    background-color: black;
    color: rgba(6, 238, 6, 0.938);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    min-height: 100vh;
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
}

main {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 25vh;
    border: none;
    font-weight: bold;
}

button {
    align-items: flex-end;
    border-color: rgba(6, 238, 6, 0.938);
    border: 4px outset rgba(6, 238, 6, 0.938);
    border-radius: 8px;
    font-weight: 900;
}

button:hover {
    background-color: rgba(6, 238, 6, 0.938);;
    color:black;
}

ul {
    list-style-type: none;
}

.timer {
    font-size: x-large;
    font-weight: bold;
    padding-right: 50px;
    padding-top: 15px;
}
.start-button {
    font-size: 25px;
}

.card {
    display: flex;
    border-color: rgba(6, 238, 6, 0.938);
    border: 5px double rgba(6, 238, 6, 0.938);
    flex-wrap: wrap;
    min-height: 12vh;
    min-width: 20vw;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modal {
    display: none;
    position:fixed;
    border: 2px;
    border-color: rgba(6, 238, 6, 0.938);
    border: 6px;
    border-style: double;
    z-index: 1;
    min-height: 75%;
    min-width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.modal-contents {
    font-size: 25px;
}

.options {
    display: none;
}

.options.card {
    border:none;
}

.options button {
    width: 100%;
    border:none;
    height: 15vh;
}
.options button:hover {
    background-color: blueviolet;
}

.hs-banner {
    white-space: pre;
    text-align: center;
}

.hs {
    padding-left: 15px;
    padding-top: 15px
}

.bonus {
    display: none;
    position:fixed;
    border: 2px;
    border-color: rgba(6, 238, 6, 0.938);
    border: 6px;
    border-style: double;
    z-index: 1;
    min-height: 75%;
    min-width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.criminal {
    position:relative;
    max-height: 40vh;
    max-width: 40vw;
}